input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 55px;
  margin-left: 46px;
  margin-top: 10px;
  height: 44px;
  line-height: 44px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 1.0em;
  font-weight: 300;
  vertical-align: middle;
  cursor: pointer;
}
@media all and (max-width: 599px) {
  input[type=checkbox].css-checkbox + label.css-label {
    margin-left: 50px;
  }
}
@media all and (max-width: 479px) and (min-width:360px) {
  input[type=checkbox].css-checkbox + label.css-label {
    margin-left: 16px;
    margin-top: 2px;
  }
}
@media all and (max-width: 359px) {
  input[type=checkbox].css-checkbox + label.css-label {
    margin-left: 16px;
  }
}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -44px;
}
label.css-label {
  background-image: url(../images/checkbox.png);
}
