/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#loginWrapper {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -275px;
  /* half of #loginWrapper height*/
  height: auto;
  width: 100%;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginWrapper {
    margin-top: -263.5px;
  }
}
@media all and (max-width: 499px), (max-height: 645px) {
  #loginWrapper {
    margin-top: -201.5px;
  }
}
@media (max-height: 500px) {
  #loginWrapper {
    margin-top: -170.5px;
  }
}
#loginGroup {
  height: 550px;
  width: 470px;
  margin: 0 auto;
  background-color: #e8e8e8;
  background-color: rgba(232, 232, 232, 0.85);
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#loginGroup .btn-default:first-child {
  width: 160px;
  height: 45px;
  margin-left: 9px;
  background-color: #78b518;
  color: #e8e8e8;
  font-size: 1.45em;
  font-weight: lighter;
  line-height: 0.5;
}
#loginGroup .btn-default:first-child:hover {
  background-color: #81c31a;
  border-color: #78b518;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginGroup .btn-default:first-child {
    width: 136px;
    height: 40.5px;
  }
}
#loginGroup .btn-default:nth-child(2) {
  width: 160px;
  height: 45px;
  margin-left: 55px;
  font-size: 1.45em;
  font-weight: lighter;
  line-height: 1.0;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginGroup .btn-default:nth-child(2) {
    width: 136px;
    height: 40.5px;
    margin-left: 25px;
  }
}
#loginGroup .form-group {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginGroup .form-group {
    width: 320px;
  }
}
#loginGroup .form-group input {
  margin-left: 10px;
  width: 380px;
  text-align: center;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginGroup .form-group input {
    width: 300px;
  }
}
#loginGroup .form-group p {
  width: 380px;
  margin: 0 auto;
  padding-left: 1px;
}
#loginGroup .form-group:nth-child(3) {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginGroup .form-group:nth-child(3) {
    width: 320px;
  }
}
#loginGroup .form-group:nth-child(3) input {
  margin-left: 10px;
  width: 380px;
  text-align: center;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginGroup .form-group:nth-child(3) input {
    width: 300px;
  }
}
#loginGroup .form-group:nth-child(3) p {
  width: 380px;
  margin: 0 auto;
  padding-left: 1px;
}
#loginGroup form {
  position: relative;
  top: 220px;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginGroup form {
    top: 190px;
  }
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginGroup {
    height: 510px;
    width: 399.5px;
  }
}
@media all and (max-width: 499px), (max-height: 645px) {
  #loginGroup {
    height: 390px;
    width: 305.5px;
  }
}
#loginBookLockedImage {
  margin-left: 179px;
  top: -45px;
  height: 135px;
  width: 112px;
  background: url("../images/loginBookLocked.png") no-repeat;
  position: absolute;
  z-index: 9999;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #loginBookLockedImage {
    margin-left: 152.15px;
    top: -38.25px;
    height: 114.75px;
    width: 95.2px;
    -moz-background-size: cover;
    background-size: cover;
  }
}
@media all and (max-width: 499px), (max-height: 645px) {
  #loginBookLockedImage {
    margin-left: 116.35px;
    top: -29.25px;
    height: 87.75px;
    width: 72.8px;
    -moz-background-size: cover;
    background-size: cover;
  }
}
#ribbon {
  width: 510px;
  height: 64px;
  position: absolute;
  margin-left: -20px;
  margin-top: 112px;
  color: #e8e8e8;
  font-size: 1.0em;
  background: url("../images/ribbonLoginPage.png") no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
#ribbon p {
  width: 320px;
  height: 15px;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #ribbon p {
    width: 272px;
    height: 12.75px;
    margin-top: 8px;
  }
}
@media all and (max-width: 699px) and (min-width:500px), (min-height: 645px) and (max-height: 699px) {
  #ribbon {
    width: 433.5px;
    height: 54.4px;
    margin-left: -18px;
    margin-top: 95.2px;
    -moz-background-size: cover;
    background-size: cover;
  }
}
