<div class="bookDetails">
    <img class="bookCover" src="/ksiazka/resources/images/coverDefault.png">

    <form class="bookDescription">
        <fieldset>
            <div class="form-group">
                <p>Opis książki</p>
            <div class="homeFormBG">
                    <textarea type="text" name="description" id="description"
                           disabled="true"></textarea>
                </div>
            </div>
        </fieldset>
    </form>

    <form class="bookInfo">
        <fieldset>
            <div class="form-group">
                <p>Tytuł</p>

                <div class="homeFormBG">
                    <input type="text" name="title" id="title"
                           disabled="true"/>
                </div>
            </div>
            <div class="form-group">
                <p>Autor</p>
                <div class="homeFormBG">
                    <input type="text" name="author" id="author"
                           disabled="true"/>
                </div>
            </div>
            <div class="form-group">
                <p>Wydawnictwo</p>

                <div class="homeFormBG">
                    <input type="text" name="publisher" id="publisher"
                           disabled="true"/>
                </div>
            </div>
            <div class="form-group">
                <p>Rok wydania</p>
                <div class="homeFormBG">
                    <input type="text" name="year" id="year"
                           disabled="true"/>
                </div>
            </div>
            <div class="form-group">
                <p>ISBN</p>

                <div class="homeFormBG">
                    <input type="text" name="isbn" id="isbn"
                           disabled="true"/>
                </div>
            </div>

        </fieldset>
    </form>
</div>