<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- For tests -->
    <!--<context:property-placeholder location="tests.properties" />-->

    <bean id="booksInDatabase"
          class="java.lang.Integer">
        <constructor-arg value="3" type="int"/>
    </bean>

    <bean id="usersInDatabase"
          class="java.lang.Integer">
        <constructor-arg value="2" type="int"/>
    </bean>

    <bean id="userBooksInDatabase"
          class="java.lang.Integer">
        <constructor-arg value="4" type="int"/>
    </bean>

</beans>