#hello {
  text-align: center;
  position: relative;
  top: 100px;
}

#HomeUserAvatar {
  @top: -25px;
  @height: 145px;
  @width: 122px;
  margin-left: 470/2-122/2px;
  top: @top;
  height: @height;
  width: @width;
  background: url("../images/loginBookLocked.png") no-repeat;
  background-position: center;
  position: absolute;
  z-index: 9999;

  .transition-duration(0.4s);
  @media @tablet {
    margin-left: 85/100*470/2 - 85/100*122/2px;
    top: 85/100*@top;
    height: 85/100*@height;
    width: 85/100*@width;
    -moz-background-size: cover;
    background-size: cover;
  }
  @media @phone {
    margin-left: 50/100*470/2 - 75/100*122/2px;
    top: 65/100*@top;
    height: 75/100*@height;
    width: 75/100*@width;
    -moz-background-size: cover;
    background-size: cover;
  }
  @media @phoneSmall {
    margin-left: 50/100*470/2 - 75/100*122/2px;
    top: 65/100*@top;
    height: 75/100*@height;
    width: 75/100*@width;
    -moz-background-size: cover;
    background-size: cover;
  }

}