//DO NOT CHANGE ANYTHING HERE !!! Only add own queries
@desktop: ~"all and (min-width: 600px) and (min-height:700px)";
@tablet: ~"all and (max-width: 599px)";
@phone: ~"all and (max-width: 479px) and (min-width:360px)";
@phoneSmall: ~"all and (max-width: 359px)";
@veryShort: ~"(max-height: 500px)";