//DO NOT CHANGE ANYTHING HERE !!! Only add own queries
@desktop: ~"all and (min-width: 700px) and (min-height:700px)";
@tablet: ~"all and (max-width: 699px) and (min-width:500px), (min-height: 500px) and (max-height: 699px)";
@phone: ~"all and (max-width: 499px) and (min-width:360px)";
@phoneSmall: ~"all and (max-width: 359px)";
@veryShort: ~"(max-height: 500px)";